Server Name,Server ID,Replication,Total Snapshots,Failed Snapshots,Local System Snapshots,Replicated System Snapshots,Last Snapshot, Last Snapshot Status
{% for entry in server_report -%}
{{entry.name}},{{entry.id}},{{entry.replication}},{{entry.count}},{{entry.failed}},{{entry.local}},{{entry.remote}},{{entry.last}},{{entry.last_state}}
{% endfor %}
